# pycharm configs
.idea/

# datasets
ag_news_csv/
amazon_review_full_csv/
dbpedia_csv/
yahoo_answers_csv/
yelp_review_full_csv/
datasets/
cache/

# model ouput
**/output*/
**/output*

# python compilations
**/__pycache__/
**/.ipynb_checkpoints/
